/build/
/out/**
/docker/test/
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###git
.idea
*.iws
*.iml
*.ipr
*.plantuml
*.puml
*.hprof


.DS_store

git.properties
.gradle
/src/main/generated/
