spring:
  application:
    name: probate-orchestrator-service
  servlet:
    multipart:
      max-file-size: 10240KB
      max-request-size: 10240KB
  info:
    git:
      location: classpath:uk/gov/hmcts/probate/services/orchestrator/git.properties

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: health,info,liveness
      base-path: /
  endpoint:
    health:
      show-details: always
      enabled: true
  info:
    git:
      mode: full

authorised.services: probate_backend,probate_frontend

auth.provider.service.client:
  baseUrl: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}
  microservice: ${AUTH_S2S_CLIENT_ID:probate_backend}
  # key: ${S2S_AUTH_TOTP_SECRET:'AAAAAAAAAAAAAAAA'}
  tokenTimeToLiveInSeconds: '900'

idam.s2s-auth.url: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}

service.auth.provider.base.url: ${AUTH_PROVIDER_SERVICE_CLIENT_BASEURL:http://localhost:4502}

auth.idam:
  client.baseUrl: ${AUTH_IDAM_CLIENT_BASEURL:http://localhost:5000}
  clientId: ${IDAM_CLIENT_ID:ccd_gateway}
  clientSecret: ${AUTH2_CLIENT_SECRET:ccd_gateway_secret}
  redirectUrl: ${IDAM_API_REDIRECT_URL:http://localhost:3451/oauth2redirect}
  caseworker:
    username: ${PAYMENT_CASEWORKER_USERNAME:ProbateSuperuser@gmail.com}
    password: ${PAYMENT_CASEWORKER_PASSWORD:Pa55word11}
  scheduler:
    username: ${SCHEDULER_CASEWORKER_USERNAME:ProbateSchedulerDEV@gmail.com}
    password: ${SCHEDULER_CASEWORKER_PASSWORD:Pa55word11}
  s2s-auth:
    services-allowed-to-payment-update: ${SERVICES_ALLOWED_TO_PAYMENT_UPDATE:payment_app}

s2s.auth.totp.secret: ${S2S_AUTH_TOTP_SECRET:'AAAAAAAAAAAAAAAA'}
service.name: ${auth.provider.service.client.microservice}

submit.service.api.url: ${SUBMIT_SERVICE_API_URL:http://localhost:8181}
persistence.service.api.url: ${SERVICES_PERSISTENCE_BASEURL:probate-persistence-service-aat.service.core-compute-aat.internal}
business.service.api.url: ${BUSINESS_SERVICE_API_URL:http://localhost:8081}
back.office.api.url: ${BACK_OFFICE_API_URL:http://localhost:4104}

logging:
  level:
    org.springframework.web: ERROR
    uk.gov.hmcts.probate: INFO
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n"

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:false}
  application-insights:
    instrumentation-key: ${APPINSIGHTS_INSTRUMENTATIONKEY:00000000-0000-0000-0000-000000000000}

feign:
  client:
    config:
      submit-service-api:
        connectTimeout: 10000
        readTimeout: 10000
        loggerLevel: basic

cron:
  hmrc:
    schedule: "0 0 2 * * *"
  ironMountain:
    schedule: "0 5 2 * * *"
  exela:
    schedule: "0 10 2 * * *"
  smeeAndFord:
    schedule: "0 25 2 * * *"
  grantDelayed:
    schedule: "0 15 2 * * *"
  grantAwaitingDocuments:
    schedule: "0 20 2 1 1 *"
  caveatExpiry:
    schedule: "0 0 3 * * *"
